@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');
@import './table.css';
@import './form.css';
* {
    box-sizing: border-box;
}

input:invalid {
    border: 2px solid darkred;
}

body {
    background: url('../img/fondo.jpg') no-repeat fixed center;
    background-size: cover;
    font-family: 'MuseoModerno', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}