@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap");
@import "./table.css";
@import "./form.css";
* {
  box-sizing: border-box;
}

body {
  background: url("../img/fondo.jpg") no-repeat fixed center;
  background-size: cover;
  font-family: "MuseoModerno", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:850px){
  .formulario{
    width: 98%;
  }
  #form_todo {
    padding: 30px 20px;
  }
  .inputs {
    padding-right: 20px;
  }
  .table{
    width: 90%;
  }
}