.table {
  border-collapse: collapse;
  width: 66%;
  color: white;
}

.table > tbody tr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
}

.table > tbody tr:hover {
  transform: scale(1.1);
}

.table tr td:first-child {
  width: 86%;
  padding-right: 15px;
}

.table tr td:last-child {
  width: 14%;
}

.table > tbody td {
  text-align: center;
}

.table td button i {
  pointer-events: none;
  padding: 5px;
}

.table tr td button {
  border-radius: 60px;
  background-color: darkred;
  border: none;
  color: white;
  cursor: pointer;
}

.task_description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task_description__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.task_description__text--name {
  text-transform: capitalize;
}

.task_description__text--date {
  margin-top: 10px;
}

.time_remaining {
  display: flex;
}

.time_remaining > span {
  margin-left: 15px;
  text-align: center;
}
